@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;600;700;800&display=swap');

html {
    width: 100%;
    height: 100%;
}

.root {
    width: 100%;
    height: 100%;
}

* {
    margin: 0 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}


/***************************************/
/* ************** Celular ************ */
/***************************************/


@media (max-width: 480px) {

    /*******************/
    /* **** login **** */
    /*******************/

    * {
        background-color: white;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img-logo {
        max-width: 70%;
        margin-top: 40px;
        justify-content: center;
    }

    .img-people {
        display: none;
    }

    h2 {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        color: #194F37;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .input-email {
        box-sizing: border-box;
        width: 290px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        margin-top: 27px;
        font-size: 16px;
    }

    .input-email[type=text] {
        padding-left: 8px;
    }

    .input-email::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .input-password {
        box-sizing: border-box;
        margin-top: 27px;
        width: 290px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
    }

    .input-password[type=password] {
        padding-left: 8px;
    }

    .input-password::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .div-remember {
        display: flex;
        width: 290px;
        margin-top: 27px;
        margin-bottom: -10px;
        flex-direction: row;
        align-content: center;
        justify-content: space-around
    }

    .input-remember[type='checkbox'] {
        accent-color: #9A4C4C;
        cursor: pointer;
    }

    .text-remember {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 12px;
        margin-right: 80px;
        color: rgba(0, 0, 0, 0.84);
    }

    .forget-password {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 10px;
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.84);
    }

    .button-login {
        background: #E89A9F;
        border: 3px solid #8CA961;
        border-radius: 39px;
        width: 276px;
        height: 39px;
        margin-top: 40px;
        color: #FFFFFF;
        justify-content: center;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
    }

    .button-google {
        width: 271px;
        height: 39px;
        margin-top: 12px;
        background: #FFFFFF;
        border: 3px solid #8CA961;
        border-radius: 39px;
        justify-content: center;
        font-weight: 500;
        display: flex;
        font-size: 15px;
        color: #194F37;
        flex-direction: row-reverse;
        cursor: pointer;
        align-items: center;
    }

    .img-google {
        width: 28px;
        padding-right: 10px;
    }

    hr {
        width: 150px;
        border-color: #E89A9F;
        opacity: 40%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    h4 {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #194F37;
        font-size: 15px;
    }

    .button-register {
        width: 145px;
        height: 39px;
        margin-top: 25px;
        background: #9A4C4C;
        border-radius: 39px;
        color: #FFFFFF;
        border: none;
        font-weight: 500;
        justify-content: center;
        font-size: 15px;
        cursor: pointer;
    }

    /**********************/
    /* **** register **** */
    /**********************/

    .img-logo-register {
        max-width: 70%;
        margin-top: 40px;
    }

    .img-people-register {
        display: none;
    }

    .input-name {
        box-sizing: border-box;
        margin-top: 27px;
        width: 290px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
    }

    .input-name[type=text] {
        padding-left: 8px;
    }

    .input-name::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .input-lastname {
        box-sizing: border-box;
        margin-top: 27px;
        width: 290px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
    }

    .input-lastname[type=text] {
        padding-left: 8px;
    }

    .input-lastname::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .button-create-account {
        background: #E89A9F;
        border: 3px solid #8CA961;
        border-radius: 39px;
        width: 276px;
        height: 39px;
        margin-top: 40px;
        color: #FFFFFF;
        justify-content: center;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
    }

    .button-login-back {
        width: 145px;
        height: 39px;
        margin-top: 25px;
        background: #9A4C4C;
        border-radius: 39px;
        color: #FFFFFF;
        border: none;
        font-weight: 500;
        justify-content: center;
        font-size: 15px;
        cursor: pointer;
    }

}

/********************************************/
/* *****************Tablet***************** */
/********************************************/

@media (min-width: 481px) {

    /*******************/
    /* **** Login **** */
    /*******************/

    body {
        flex-direction: row;
    }

    .img-logo {
        max-width: 80%;
        margin-top: 35px;
        margin-bottom: 40px;
    }

    .div-pink-login {
        display: none;
    }

    .div-login {
        display: flex;
        margin: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 12%;
    }

    .form-login {
        width: 600px;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding-left: 10%;
    }

    .border-container-login {
        flex-direction: column;
        display: flex;
        align-items: center;
        border: 1px solid #9A4C4C;
        box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
        border-radius: 40px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 40px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    h2 {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        text-align: center;
        color: #194F37;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .input-email {
        box-sizing: border-box;
        width: 330px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        margin-top: 20px;
        font-size: 16px;
    }

    .input-email[type=text] {
        padding-left: 8px;
    }

    .input-email::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .input-password {
        box-sizing: border-box;
        margin-top: 20px;
        width: 330px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
    }

    .input-password[type=password] {
        padding-left: 8px;
    }

    .input-password::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .div-remember {
        display: flex;
        width: 320px;
        margin-top: 18px;
        margin-bottom: -10px;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;

    }

    .input-remember[type='checkbox'] {
        accent-color: #9A4C4C;
        cursor: pointer;
    }

    .text-remember {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 13px;
        margin-right: 80px;
        color: rgba(0, 0, 0, 0.84);
    }

    .forget-password {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 12px;
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.84);
    }

    .button-login {
        background: #E89A9F;
        border: 3px solid #8CA961;
        border-radius: 39px;
        width: 330px;
        height: 39px;
        margin-top: 30px;
        color: #FFFFFF;
        justify-content: center;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
    }

    .button-google {
        width: 330px;
        height: 39px;
        margin-top: 12px;
        background: #FFFFFF;
        border: 3px solid #8CA961;
        border-radius: 39px;
        justify-content: center;
        font-weight: 500;
        font-size: 15px;
        color: #194F37;
        display: flex;
        flex-direction: row-reverse;
        cursor: pointer;
        align-items: center;
    }

    .img-google {
        width: 28px;
        padding-right: 10px;
    }

    h4 {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #194F37;
        font-size: 15px;
        margin-bottom: 0px;
    }

    hr {
        width: 200px;
        border-color: #E89A9F;
        opacity: 40%;
        margin-top: 30px;
    }

    .button-register {
        width: 145px;
        height: 39px;
        margin-top: 30px;
        background: #9A4C4C;
        border-radius: 39px;
        color: #FFFFFF;
        border: none;
        font-weight: 500;
        justify-content: center;
        font-size: 15px;
        cursor: pointer;
    }

    /**********************/
    /* **** Register **** */
    /**********************/


    body {
        flex-direction: row;
    }

    .img-logo-register {
        max-width: 80%;
        margin-bottom: 40px;
    }

    .div-pink-register {
        display: none;
    }

    .div-register {
        display: flex;
        margin: 0;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 12%;
    }

    .border-container-register {
        flex-direction: column;
        display: flex;
        align-items: center;
        border: 1px solid #9A4C4C;
        box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
        border-radius: 40px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 40px;
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .div-username {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        width: 330px;     
    }

    .input-name {
        box-sizing: border-box;
        margin-top: 20px;
        width: 330px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
    }

    .input-name[type=text] {
        padding-left: 8px;
    }

    .input-name::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .input-lastname {
        box-sizing: border-box;
        margin-top: 20px;
        width: 330px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
    }

    .input-lastname[type=text] {
        padding-left: 8px;
    }

    .input-lastname::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .button-create-account {
        background: #E89A9F;
        border: 3px solid #8CA961;
        border-radius: 39px;
        width: 330px;
        height: 39px;
        margin-top: 40px;
        color: #FFFFFF;
        justify-content: center;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
    }

    hr {
        margin-bottom: 30px;
    }

    .button-login-back {
        width: 145px;
        height: 39px;
        margin-top: 25px;
        background: #9A4C4C;
        border-radius: 39px;
        color: #FFFFFF;
        border: none;
        font-weight: 500;
        justify-content: center;
        font-size: 15px;
        cursor: pointer;
    }

    .form-register {
        width: 600px;
        flex-direction: column;
        display: flex;
        align-items: center;
    }

}

/******************* Desktop **************** */

@media (min-width: 1020px) {

    /*******************/
    /* **** Login **** */
    /*******************/


    body {
        flex-direction: row;
    }

    .img-logo {
        max-width: 70%;
        margin-top: 20px;
    }

    .img-people {
        margin-left: 15%;
        margin-top: 10%;
        width: 145%;
    }

    .div-login {
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: 0;
    }

    .div-pink-login {
        background-color: #E89A9F;
        width: 45%;
        display: initial;
        height: 100%
    }

    .form-login {
        width: 55%;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

    .border-container-login {
        flex-direction: column;
        display: flex;
        align-items: center;
        border: 1px solid #9A4C4C;
        box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
        border-radius: 40px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 40px;
        margin-top: -5px;
        margin-bottom: 40px;
    }

    h2 {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 33px;
        text-align: center;
        color: #194F37;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    .input-email {
        box-sizing: border-box;
        width: 330px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        margin-top: 20px;
        font-size: 16px;
    }

    .input-email[type=text] {
        padding-left: 8px;
    }

    .input-email::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .input-password {
        box-sizing: border-box;
        margin-top: 20px;
        width: 330px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
    }

    .input-password[type=password] {
        padding-left: 8px;
    }

    .input-password::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .div-remember {
        display: flex;
        width: 320px;
        margin-top: 18px;
        margin-bottom: -10px;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;

    }

    .input-remember[type='checkbox'] {
        accent-color: #9A4C4C;
        cursor: pointer;
    }

    .text-remember {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-right: 80px;
        color: rgba(0, 0, 0, 0.84);
    }

    .forget-password {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 13px;
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.84);
    }

    .button-login {
        background: #E89A9F;
        border: 3px solid #8CA961;
        border-radius: 39px;
        width: 330px;
        height: 39px;
        margin-top: 30px;
        color: #FFFFFF;
        justify-content: center;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
    }

    .button-google {
        width: 330px;
        height: 39px;
        margin-top: 12px;
        background: #FFFFFF;
        border: 3px solid #8CA961;
        border-radius: 39px;
        justify-content: center;
        font-weight: 500;
        font-size: 15px;
        color: #194F37;
        display: flex;
        flex-direction: row-reverse;
        cursor: pointer;
        align-items: center;
    }

    .img-google {
        width: 28px;
        padding-right: 10px;
    }

    h4 {
        font-family: 'Raleway', sans-serif;
        font-style: normal;
        font-weight: 700;
        color: #194F37;
        font-size: 15px;
        margin-bottom: 0px;
    }

    .button-register {
        width: 145px;
        height: 39px;
        background: #9A4C4C;
        border-radius: 39px;
        color: #FFFFFF;
        border: none;
        font-weight: 500;
        justify-content: center;
        font-size: 15px;
        cursor: pointer;
    }

    hr {
        width: 200px;
        border-color: #E89A9F;
        opacity: 40%;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .button-register {
        width: 145px;
        height: 39px;
        margin-top: 25px;
        background: #9A4C4C;
        border-radius: 39px;
        color: #FFFFFF;
        border: none;
        font-weight: 500;
        justify-content: center;
        font-size: 15px;
        cursor: pointer;
    }

    /**********************/
    /* **** Register **** */
    /**********************/


    body {
        flex-direction: row;
    }

    .img-logo-register {
        max-width: 70%;
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .img-people-register {
        margin-left: 8%;
        margin-top: 15%;
        width: 110%;
    }

    .div-register {
        display: flex;
        flex-direction: row;
        height: 100%;
        margin: 0;
    }

    .div-pink-register {
        background-color: #E89A9F;
        width: 45%;
        display: initial;
        height: 100%;
    }

    .border-container-register {
        flex-direction: column;
        display: flex;
        align-items: center;
        border: 1px solid #9A4C4C;
        box-shadow: 0px 3px 49px 9px rgba(0, 0, 0, 0.06);
        border-radius: 40px;
        padding-left: 80px;
        padding-right: 80px;
        padding-bottom: 40px;
        margin-top: 0px;
        margin-bottom: 40px;
    }

    .div-username {
        display: flex;
        flex-direction: row;
        align-content: center;
        justify-content: space-between;
        width: 330px;     
    }

    .input-name {
        box-sizing: border-box;
        margin-top: 20px;
        width: 155px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
    }

    .input-name[type=text] {
        padding-left: 8px;
    }

    .input-name::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .input-lastname {
        box-sizing: border-box;
        margin-top: 20px;
        width: 155px;
        height: 38px;
        background: #FFFFFF;
        border: 1px solid #8CA961;
        border-radius: 8px;
        outline: none;
        font-size: 16px;
    }

    .input-lastname[type=text] {
        padding-left: 8px;
    }

    .input-lastname::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.54);
    }

    .button-create-account {
        background: #E89A9F;
        border: 3px solid #8CA961;
        border-radius: 39px;
        width: 330px;
        height: 39px;
        margin-top: 40px;
        color: #FFFFFF;
        justify-content: center;
        font-weight: 700;
        font-size: 15px;
        cursor: pointer;
    }

    .button-login-back {
        width: 145px;
        height: 39px;
        margin-top: 25px;
        background: #9A4C4C;
        border-radius: 39px;
        color: #FFFFFF;
        border: none;
        font-weight: 500;
        justify-content: center;
        font-size: 15px;
        cursor: pointer;
    }

    .form-register {
        width: 55%;
        flex-direction: column;
        display: flex;
        align-items: center;
        padding-left: 30px;
    }

    .div-remember {
        display: flex;
        width: 320px;
        margin-top: 18px;
        margin-bottom: -10px;
        flex-direction: row;
        align-content: center;
        justify-content: space-around;
    }

    .input-remember[type='checkbox'] {
        accent-color: #9A4C4C;
        cursor: pointer;
    }

    .text-remember {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 14px;
        margin-right: 80px;
        color: rgba(0, 0, 0, 0.84);
    }

    .forget-password {
        font-family: 'Raleway', sans-serif;
        font-weight: 400;
        font-size: 13px;
        text-decoration: underline;
        color: rgba(0, 0, 0, 0.84);
    }

}